<h1>Create a Word</h1>
<form action="" method="post">
  <p>
    <input type="text" value="" name="wordName" placeholder="wordName" />
  </p>
  <p>
    <input type="text" value="" name="wordCoin" placeholder="wordCoin" />
  </p>
  <p>
    <input type="text" value="" name="packId" placeholder="packId" />
  </p>
  <!--<p>
    <input type="text" value="Comming soon..." name="wordDesc" placeholder="wordDesc" />
  </p>
  <p>
    <input type="text" value="" name="wordDiffLevel" placeholder="wordDiffLevel" />
  </p>
  <p>
    <input type="text" value="0" name="wordIsSponsored" placeholder="wordIsSponsored" />
  </p>-->
  <p>
    <input type="submit" value="submit" name="submit" />
  </p>
</form>



